{%- macro cs_RadioButtons(data) %}
	{% import _self as macros %}

	{{ macros.codeBlock('The Selected value\'s option', '
		{{ ' ~ data.sampleTag ~ ' }}'
	)}}


	{{ macros.codeBlock('The Selected value\'s label', '
		{{ ' ~ data.sampleTag ~ '.label }}'
	)}}


	{{ macros.codeBlock('Loop through all available options', '
		<ul>\n'
		~ data.whitespace ~ '{% for option in '
		~ data.sampleTag
		~ '.options %}\n'
		~ data.whitespace ~ data.whitespace
		~ '<li>{{ option }}</li>\n'
		~ data.whitespace
		~ '{% endfor %}\n'
		~ '</ul>'
	)}}

{% endmacro -%}